body{
    margin:0;
    font-family: "Segoe UI", Arial, sans-serif;
    background:#f7f9fc;
    color:#222;
}

/* HEADER */
header{
    background:#001f3f;
    color:white;
    padding:25px;
}

header h1{
    margin:0;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    margin-right:20px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#00c3ff;
}

/* HERO SECTION */
.hero{
    background:#003366;
    color:white;
    padding:80px 20px;
    text-align:center;
}

.hero h2{
    font-size:36px;
}

/* CONTENT */
.container{
    max-width:1000px;
    margin:auto;
    padding:40px;
}

h2{
    color:#003366;
}

/* CARDS */
.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}

/* IMAGES */
img{
    max-width:100%;
    border-radius:6px;
}

/* FOOTER */
footer{
    background:#001f3f;
    color:white;
    text-align:center;
    padding:15px;
}
